<form action="/<%= @filename %>" method="post">
  <label for="content">Editing content of <%= @filename %>:</label>
  <div>
    <textarea name="content" id="content" rows="20" cols="100"><%= @lines %></textarea>
  </div>
  <button type="submit">Save Changes</button>
</form>